{% extends 'base.html' %}
{% block content %}

<h1>Boat List</h1>

{% for boat in boats %}
  <div class="card">
    <a href="{% url 'detail' boat.id %}">
      <div class="card-content">
        <span class="card-title">{{ boat.name }}</span>
        <p>Year: {{ boat.year }}</p>
        <p>Manufacturer: {{ boat.manufacturer }}</p>
        <p>Model: {{ boat.model }}</p>
        <p>Length: {{ boat.length }}</p>
        <p>Beam: {{ boat.beam }}</p>
        <p>Description: {{ boat.description }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}